## Imports

In [1]:
from scipy.io import loadmat
import pandas as pd

## Import data and get overview

In [2]:
mat_file_path = "./cars_train_annos.mat"
raw_data = loadmat(mat_file_path)
raw_data

{'__header__': b'MATLAB 5.0 MAT-file, Platform: GLNXA64, Created on: Sat Dec 14 14:13:07 2013',
 '__version__': '1.0',
 '__globals__': [],
 'annotations': array([[(array([[39]], dtype=uint8), array([[116]], dtype=uint8), array([[569]], dtype=uint16), array([[375]], dtype=uint16), array([[14]], dtype=uint8), array(['00001.jpg'], dtype='<U9')),
         (array([[36]], dtype=uint8), array([[116]], dtype=uint8), array([[868]], dtype=uint16), array([[587]], dtype=uint16), array([[3]], dtype=uint8), array(['00002.jpg'], dtype='<U9')),
         (array([[85]], dtype=uint8), array([[109]], dtype=uint8), array([[601]], dtype=uint16), array([[381]], dtype=uint16), array([[91]], dtype=uint8), array(['00003.jpg'], dtype='<U9')),
         ...,
         (array([[26]], dtype=uint8), array([[246]], dtype=uint8), array([[660]], dtype=uint16), array([[449]], dtype=uint16), array([[163]], dtype=uint8), array(['08142.jpg'], dtype='<U9')),
         (array([[78]], dtype=uint8), array([[526]], dtype=uint16), array([[1489]], dtype=uint16), array([[908]], dtype=uint16), array([[112]], dtype=uint8), array(['08143.jpg'], dtype='<U9')),
         (array([[20]], dtype=uint8), array([[240]], dtype=uint8), array([[862]], dtype=uint16), array([[677]], dtype=uint16), array([[17]], dtype=uint8), array(['08144.jpg'], dtype='<U9'))]],
       dtype=[('bbox_x1', 'O'), ('bbox_y1', 'O'), ('bbox_x2', 'O'), ('bbox_y2', 'O'), ('class', 'O'), ('fname', 'O')])}

In [3]:
annotations = raw_data["annotations"]
annotations

array([[(array([[39]], dtype=uint8), array([[116]], dtype=uint8), array([[569]], dtype=uint16), array([[375]], dtype=uint16), array([[14]], dtype=uint8), array(['00001.jpg'], dtype='<U9')),
        (array([[36]], dtype=uint8), array([[116]], dtype=uint8), array([[868]], dtype=uint16), array([[587]], dtype=uint16), array([[3]], dtype=uint8), array(['00002.jpg'], dtype='<U9')),
        (array([[85]], dtype=uint8), array([[109]], dtype=uint8), array([[601]], dtype=uint16), array([[381]], dtype=uint16), array([[91]], dtype=uint8), array(['00003.jpg'], dtype='<U9')),
        ...,
        (array([[26]], dtype=uint8), array([[246]], dtype=uint8), array([[660]], dtype=uint16), array([[449]], dtype=uint16), array([[163]], dtype=uint8), array(['08142.jpg'], dtype='<U9')),
        (array([[78]], dtype=uint8), array([[526]], dtype=uint16), array([[1489]], dtype=uint16), array([[908]], dtype=uint16), array([[112]], dtype=uint8), array(['08143.jpg'], dtype='<U9')),
        (array([[20]], dtype=uint8), array([[240]], dtype=uint8), array([[862]], dtype=uint16), array([[677]], dtype=uint16), array([[17]], dtype=uint8), array(['08144.jpg'], dtype='<U9'))]],
      dtype=[('bbox_x1', 'O'), ('bbox_y1', 'O'), ('bbox_x2', 'O'), ('bbox_y2', 'O'), ('class', 'O'), ('fname', 'O')])

The imported data is structured as array with a single row 
row = many different tuples. Each tuple has tuples with array
access the needed data via slicing & list compreheinsion

## Save the needed data into lists

In [4]:
# for fname
image_names = [i[5][0] for i in annotations[0]]
image_names

['00001.jpg',
 '00002.jpg',
 '00003.jpg',
 '00004.jpg',
 '00005.jpg',
 '00006.jpg',
 '00007.jpg',
 '00008.jpg',
 '00009.jpg',
 '00010.jpg',
 '00011.jpg',
 '00012.jpg',
 '00013.jpg',
 '00014.jpg',
 '00015.jpg',
 '00016.jpg',
 '00017.jpg',
 '00018.jpg',
 '00019.jpg',
 '00020.jpg',
 '00021.jpg',
 '00022.jpg',
 '00023.jpg',
 '00024.jpg',
 '00025.jpg',
 '00026.jpg',
 '00027.jpg',
 '00028.jpg',
 '00029.jpg',
 '00030.jpg',
 '00031.jpg',
 '00032.jpg',
 '00033.jpg',
 '00034.jpg',
 '00035.jpg',
 '00036.jpg',
 '00037.jpg',
 '00038.jpg',
 '00039.jpg',
 '00040.jpg',
 '00041.jpg',
 '00042.jpg',
 '00043.jpg',
 '00044.jpg',
 '00045.jpg',
 '00046.jpg',
 '00047.jpg',
 '00048.jpg',
 '00049.jpg',
 '00050.jpg',
 '00051.jpg',
 '00052.jpg',
 '00053.jpg',
 '00054.jpg',
 '00055.jpg',
 '00056.jpg',
 '00057.jpg',
 '00058.jpg',
 '00059.jpg',
 '00060.jpg',
 '00061.jpg',
 '00062.jpg',
 '00063.jpg',
 '00064.jpg',
 '00065.jpg',
 '00066.jpg',
 '00067.jpg',
 '00068.jpg',
 '00069.jpg',
 '00070.jpg',
 '00071.jpg',
 '00072.jpg',
 '00073.jpg',
 '00074.jpg',
 '00075.jpg',
 '00076.jpg',
 '00077.jpg',
 '00078.jpg',
 '00079.jpg',
 '00080.jpg',
 '00081.jpg',
 '00082.jpg',
 '00083.jpg',
 '00084.jpg',
 '00085.jpg',
 '00086.jpg',
 '00087.jpg',
 '00088.jpg',
 '00089.jpg',
 '00090.jpg',
 '00091.jpg',
 '00092.jpg',
 '00093.jpg',
 '00094.jpg',
 '00095.jpg',
 '00096.jpg',
 '00097.jpg',
 '00098.jpg',
 '00099.jpg',
 '00100.jpg',
 '00101.jpg',
 '00102.jpg',
 '00103.jpg',
 '00104.jpg',
 '00105.jpg',
 '00106.jpg',
 '00107.jpg',
 '00108.jpg',
 '00109.jpg',
 '00110.jpg',
 '00111.jpg',
 '00112.jpg',
 '00113.jpg',
 '00114.jpg',
 '00115.jpg',
 '00116.jpg',
 '00117.jpg',
 '00118.jpg',
 '00119.jpg',
 '00120.jpg',
 '00121.jpg',
 '00122.jpg',
 '00123.jpg',
 '00124.jpg',
 '00125.jpg',
 '00126.jpg',
 '00127.jpg',
 '00128.jpg',
 '00129.jpg',
 '00130.jpg',
 '00131.jpg',
 '00132.jpg',
 '00133.jpg',
 '00134.jpg',
 '00135.jpg',
 '00136.jpg',
 '00137.jpg',
 '00138.jpg',
 '00139.jpg',
 '00140.jpg',
 '00141.jpg',
 '00142.jpg',
 '00143.jpg',
 '00144.jpg',
 '00145.jpg',
 '00146.jpg',
 '00147.jpg',
 '00148.jpg',
 '00149.jpg',
 '00150.jpg',
 '00151.jpg',
 '00152.jpg',
 '00153.jpg',
 '00154.jpg',
 '00155.jpg',
 '00156.jpg',
 '00157.jpg',
 '00158.jpg',
 '00159.jpg',
 '00160.jpg',
 '00161.jpg',
 '00162.jpg',
 '00163.jpg',
 '00164.jpg',
 '00165.jpg',
 '00166.jpg',
 '00167.jpg',
 '00168.jpg',
 '00169.jpg',
 '00170.jpg',
 '00171.jpg',
 '00172.jpg',
 '00173.jpg',
 '00174.jpg',
 '00175.jpg',
 '00176.jpg',
 '00177.jpg',
 '00178.jpg',
 '00179.jpg',
 '00180.jpg',
 '00181.jpg',
 '00182.jpg',
 '00183.jpg',
 '00184.jpg',
 '00185.jpg',
 '00186.jpg',
 '00187.jpg',
 '00188.jpg',
 '00189.jpg',
 '00190.jpg',
 '00191.jpg',
 '00192.jpg',
 '00193.jpg',
 '00194.jpg',
 '00195.jpg',
 '00196.jpg',
 '00197.jpg',
 '00198.jpg',
 '00199.jpg',
 '00200.jpg',
 '00201.jpg',
 '00202.jpg',
 '00203.jpg',
 '00204.jpg',
 '00205.jpg',
 '00206.jpg',
 '00207.jpg',
 '00208.jpg',
 '00209.jpg',
 '00210.jpg',
 '00211.jpg',
 '00212.jpg',
 '00213.jpg',
 '00214.jpg',
 '00215.jpg',
 '00216.jpg',
 '00217.jpg',
 '00218.jpg',
 '00219.jpg',
 '00220.jpg',
 '00221.jpg',
 '00222.jpg',
 '00223.jpg',
 '00224.jpg',
 '00225.jpg',
 '00226.jpg',
 '00227.jpg',
 '00228.jpg',
 '00229.jpg',
 '00230.jpg',
 '00231.jpg',
 '00232.jpg',
 '00233.jpg',
 '00234.jpg',
 '00235.jpg',
 '00236.jpg',
 '00237.jpg',
 '00238.jpg',
 '00239.jpg',
 '00240.jpg',
 '00241.jpg',
 '00242.jpg',
 '00243.jpg',
 '00244.jpg',
 '00245.jpg',
 '00246.jpg',
 '00247.jpg',
 '00248.jpg',
 '00249.jpg',
 '00250.jpg',
 '00251.jpg',
 '00252.jpg',
 '00253.jpg',
 '00254.jpg',
 '00255.jpg',
 '00256.jpg',
 '00257.jpg',
 '00258.jpg',
 '00259.jpg',
 '00260.jpg',
 '00261.jpg',
 '00262.jpg',
 '00263.jpg',
 '00264.jpg',
 '00265.jpg',
 '00266.jpg',
 '00267.jpg',
 '00268.jpg',
 '00269.jpg',
 '00270.jpg',
 '00271.jpg',
 '00272.jpg',
 '00273.jpg',
 '00274.jpg',
 '00275.jpg',
 '00276.jpg',
 '00277.jpg',
 '00278.jpg',
 '00279.jpg',
 '00280.jpg',
 '00281.jpg',
 '00282.jpg',
 '00283.jpg',
 '00284.jpg',
 '00285.jpg',
 '00286.jpg',
 '00287.jpg',
 '00288.jpg',
 '00289.jpg',
 '00290.jpg',
 '00291.jpg',
 '00292.jpg',
 '00293.jpg',
 '00294.jpg',
 '00295.jpg',
 '00296.jpg',
 '00297.jpg',
 '00298.jpg',
 '00299.jpg',
 '00300.jpg',
 '00301.jpg',
 '00302.jpg',
 '00303.jpg',
 '00304.jpg',
 '00305.jpg',
 '00306.jpg',
 '00307.jpg',
 '00308.jpg',
 '00309.jpg',
 '00310.jpg',
 '00311.jpg',
 '00312.jpg',
 '00313.jpg',
 '00314.jpg',
 '00315.jpg',
 '00316.jpg',
 '00317.jpg',
 '00318.jpg',
 '00319.jpg',
 '00320.jpg',
 '00321.jpg',
 '00322.jpg',
 '00323.jpg',
 '00324.jpg',
 '00325.jpg',
 '00326.jpg',
 '00327.jpg',
 '00328.jpg',
 '00329.jpg',
 '00330.jpg',
 '00331.jpg',
 '00332.jpg',
 '00333.jpg',
 '00334.jpg',
 '00335.jpg',
 '00336.jpg',
 '00337.jpg',
 '00338.jpg',
 '00339.jpg',
 '00340.jpg',
 '00341.jpg',
 '00342.jpg',
 '00343.jpg',
 '00344.jpg',
 '00345.jpg',
 '00346.jpg',
 '00347.jpg',
 '00348.jpg',
 '00349.jpg',
 '00350.jpg',
 '00351.jpg',
 '00352.jpg',
 '00353.jpg',
 '00354.jpg',
 '00355.jpg',
 '00356.jpg',
 '00357.jpg',
 '00358.jpg',
 '00359.jpg',
 '00360.jpg',
 '00361.jpg',
 '00362.jpg',
 '00363.jpg',
 '00364.jpg',
 '00365.jpg',
 '00366.jpg',
 '00367.jpg',
 '00368.jpg',
 '00369.jpg',
 '00370.jpg',
 '00371.jpg',
 '00372.jpg',
 '00373.jpg',
 '00374.jpg',
 '00375.jpg',
 '00376.jpg',
 '00377.jpg',
 '00378.jpg',
 '00379.jpg',
 '00380.jpg',
 '00381.jpg',
 '00382.jpg',
 '00383.jpg',
 '00384.jpg',
 '00385.jpg',
 '00386.jpg',
 '00387.jpg',
 '00388.jpg',
 '00389.jpg',
 '00390.jpg',
 '00391.jpg',
 '00392.jpg',
 '00393.jpg',
 '00394.jpg',
 '00395.jpg',
 '00396.jpg',
 '00397.jpg',
 '00398.jpg',
 '00399.jpg',
 '00400.jpg',
 '00401.jpg',
 '00402.jpg',
 '00403.jpg',
 '00404.jpg',
 '00405.jpg',
 '00406.jpg',
 '00407.jpg',
 '00408.jpg',
 '00409.jpg',
 '00410.jpg',
 '00411.jpg',
 '00412.jpg',
 '00413.jpg',
 '00414.jpg',
 '00415.jpg',
 '00416.jpg',
 '00417.jpg',
 '00418.jpg',
 '00419.jpg',
 '00420.jpg',
 '00421.jpg',
 '00422.jpg',
 '00423.jpg',
 '00424.jpg',
 '00425.jpg',
 '00426.jpg',
 '00427.jpg',
 '00428.jpg',
 '00429.jpg',
 '00430.jpg',
 '00431.jpg',
 '00432.jpg',
 '00433.jpg',
 '00434.jpg',
 '00435.jpg',
 '00436.jpg',
 '00437.jpg',
 '00438.jpg',
 '00439.jpg',
 '00440.jpg',
 '00441.jpg',
 '00442.jpg',
 '00443.jpg',
 '00444.jpg',
 '00445.jpg',
 '00446.jpg',
 '00447.jpg',
 '00448.jpg',
 '00449.jpg',
 '00450.jpg',
 '00451.jpg',
 '00452.jpg',
 '00453.jpg',
 '00454.jpg',
 '00455.jpg',
 '00456.jpg',
 '00457.jpg',
 '00458.jpg',
 '00459.jpg',
 '00460.jpg',
 '00461.jpg',
 '00462.jpg',
 '00463.jpg',
 '00464.jpg',
 '00465.jpg',
 '00466.jpg',
 '00467.jpg',
 '00468.jpg',
 '00469.jpg',
 '00470.jpg',
 '00471.jpg',
 '00472.jpg',
 '00473.jpg',
 '00474.jpg',
 '00475.jpg',
 '00476.jpg',
 '00477.jpg',
 '00478.jpg',
 '00479.jpg',
 '00480.jpg',
 '00481.jpg',
 '00482.jpg',
 '00483.jpg',
 '00484.jpg',
 '00485.jpg',
 '00486.jpg',
 '00487.jpg',
 '00488.jpg',
 '00489.jpg',
 '00490.jpg',
 '00491.jpg',
 '00492.jpg',
 '00493.jpg',
 '00494.jpg',
 '00495.jpg',
 '00496.jpg',
 '00497.jpg',
 '00498.jpg',
 '00499.jpg',
 '00500.jpg',
 '00501.jpg',
 '00502.jpg',
 '00503.jpg',
 '00504.jpg',
 '00505.jpg',
 '00506.jpg',
 '00507.jpg',
 '00508.jpg',
 '00509.jpg',
 '00510.jpg',
 '00511.jpg',
 '00512.jpg',
 '00513.jpg',
 '00514.jpg',
 '00515.jpg',
 '00516.jpg',
 '00517.jpg',
 '00518.jpg',
 '00519.jpg',
 '00520.jpg',
 '00521.jpg',
 '00522.jpg',
 '00523.jpg',
 '00524.jpg',
 '00525.jpg',
 '00526.jpg',
 '00527.jpg',
 '00528.jpg',
 '00529.jpg',
 '00530.jpg',
 '00531.jpg',
 '00532.jpg',
 '00533.jpg',
 '00534.jpg',
 '00535.jpg',
 '00536.jpg',
 '00537.jpg',
 '00538.jpg',
 '00539.jpg',
 '00540.jpg',
 '00541.jpg',
 '00542.jpg',
 '00543.jpg',
 '00544.jpg',
 '00545.jpg',
 '00546.jpg',
 '00547.jpg',
 '00548.jpg',
 '00549.jpg',
 '00550.jpg',
 '00551.jpg',
 '00552.jpg',
 '00553.jpg',
 '00554.jpg',
 '00555.jpg',
 '00556.jpg',
 '00557.jpg',
 '00558.jpg',
 '00559.jpg',
 '00560.jpg',
 '00561.jpg',
 '00562.jpg',
 '00563.jpg',
 '00564.jpg',
 '00565.jpg',
 '00566.jpg',
 '00567.jpg',
 '00568.jpg',
 '00569.jpg',
 '00570.jpg',
 '00571.jpg',
 '00572.jpg',
 '00573.jpg',
 '00574.jpg',
 '00575.jpg',
 '00576.jpg',
 '00577.jpg',
 '00578.jpg',
 '00579.jpg',
 '00580.jpg',
 '00581.jpg',
 '00582.jpg',
 '00583.jpg',
 '00584.jpg',
 '00585.jpg',
 '00586.jpg',
 '00587.jpg',
 '00588.jpg',
 '00589.jpg',
 '00590.jpg',
 '00591.jpg',
 '00592.jpg',
 '00593.jpg',
 '00594.jpg',
 '00595.jpg',
 '00596.jpg',
 '00597.jpg',
 '00598.jpg',
 '00599.jpg',
 '00600.jpg',
 '00601.jpg',
 '00602.jpg',
 '00603.jpg',
 '00604.jpg',
 '00605.jpg',
 '00606.jpg',
 '00607.jpg',
 '00608.jpg',
 '00609.jpg',
 '00610.jpg',
 '00611.jpg',
 '00612.jpg',
 '00613.jpg',
 '00614.jpg',
 '00615.jpg',
 '00616.jpg',
 '00617.jpg',
 '00618.jpg',
 '00619.jpg',
 '00620.jpg',
 '00621.jpg',
 '00622.jpg',
 '00623.jpg',
 '00624.jpg',
 '00625.jpg',
 '00626.jpg',
 '00627.jpg',
 '00628.jpg',
 '00629.jpg',
 '00630.jpg',
 '00631.jpg',
 '00632.jpg',
 '00633.jpg',
 '00634.jpg',
 '00635.jpg',
 '00636.jpg',
 '00637.jpg',
 '00638.jpg',
 '00639.jpg',
 '00640.jpg',
 '00641.jpg',
 '00642.jpg',
 '00643.jpg',
 '00644.jpg',
 '00645.jpg',
 '00646.jpg',
 '00647.jpg',
 '00648.jpg',
 '00649.jpg',
 '00650.jpg',
 '00651.jpg',
 '00652.jpg',
 '00653.jpg',
 '00654.jpg',
 '00655.jpg',
 '00656.jpg',
 '00657.jpg',
 '00658.jpg',
 '00659.jpg',
 '00660.jpg',
 '00661.jpg',
 '00662.jpg',
 '00663.jpg',
 '00664.jpg',
 '00665.jpg',
 '00666.jpg',
 '00667.jpg',
 '00668.jpg',
 '00669.jpg',
 '00670.jpg',
 '00671.jpg',
 '00672.jpg',
 '00673.jpg',
 '00674.jpg',
 '00675.jpg',
 '00676.jpg',
 '00677.jpg',
 '00678.jpg',
 '00679.jpg',
 '00680.jpg',
 '00681.jpg',
 '00682.jpg',
 '00683.jpg',
 '00684.jpg',
 '00685.jpg',
 '00686.jpg',
 '00687.jpg',
 '00688.jpg',
 '00689.jpg',
 '00690.jpg',
 '00691.jpg',
 '00692.jpg',
 '00693.jpg',
 '00694.jpg',
 '00695.jpg',
 '00696.jpg',
 '00697.jpg',
 '00698.jpg',
 '00699.jpg',
 '00700.jpg',
 '00701.jpg',
 '00702.jpg',
 '00703.jpg',
 '00704.jpg',
 '00705.jpg',
 '00706.jpg',
 '00707.jpg',
 '00708.jpg',
 '00709.jpg',
 '00710.jpg',
 '00711.jpg',
 '00712.jpg',
 '00713.jpg',
 '00714.jpg',
 '00715.jpg',
 '00716.jpg',
 '00717.jpg',
 '00718.jpg',
 '00719.jpg',
 '00720.jpg',
 '00721.jpg',
 '00722.jpg',
 '00723.jpg',
 '00724.jpg',
 '00725.jpg',
 '00726.jpg',
 '00727.jpg',
 '00728.jpg',
 '00729.jpg',
 '00730.jpg',
 '00731.jpg',
 '00732.jpg',
 '00733.jpg',
 '00734.jpg',
 '00735.jpg',
 '00736.jpg',
 '00737.jpg',
 '00738.jpg',
 '00739.jpg',
 '00740.jpg',
 '00741.jpg',
 '00742.jpg',
 '00743.jpg',
 '00744.jpg',
 '00745.jpg',
 '00746.jpg',
 '00747.jpg',
 '00748.jpg',
 '00749.jpg',
 '00750.jpg',
 '00751.jpg',
 '00752.jpg',
 '00753.jpg',
 '00754.jpg',
 '00755.jpg',
 '00756.jpg',
 '00757.jpg',
 '00758.jpg',
 '00759.jpg',
 '00760.jpg',
 '00761.jpg',
 '00762.jpg',
 '00763.jpg',
 '00764.jpg',
 '00765.jpg',
 '00766.jpg',
 '00767.jpg',
 '00768.jpg',
 '00769.jpg',
 '00770.jpg',
 '00771.jpg',
 '00772.jpg',
 '00773.jpg',
 '00774.jpg',
 '00775.jpg',
 '00776.jpg',
 '00777.jpg',
 '00778.jpg',
 '00779.jpg',
 '00780.jpg',
 '00781.jpg',
 '00782.jpg',
 '00783.jpg',
 '00784.jpg',
 '00785.jpg',
 '00786.jpg',
 '00787.jpg',
 '00788.jpg',
 '00789.jpg',
 '00790.jpg',
 '00791.jpg',
 '00792.jpg',
 '00793.jpg',
 '00794.jpg',
 '00795.jpg',
 '00796.jpg',
 '00797.jpg',
 '00798.jpg',
 '00799.jpg',
 '00800.jpg',
 '00801.jpg',
 '00802.jpg',
 '00803.jpg',
 '00804.jpg',
 '00805.jpg',
 '00806.jpg',
 '00807.jpg',
 '00808.jpg',
 '00809.jpg',
 '00810.jpg',
 '00811.jpg',
 '00812.jpg',
 '00813.jpg',
 '00814.jpg',
 '00815.jpg',
 '00816.jpg',
 '00817.jpg',
 '00818.jpg',
 '00819.jpg',
 '00820.jpg',
 '00821.jpg',
 '00822.jpg',
 '00823.jpg',
 '00824.jpg',
 '00825.jpg',
 '00826.jpg',
 '00827.jpg',
 '00828.jpg',
 '00829.jpg',
 '00830.jpg',
 '00831.jpg',
 '00832.jpg',
 '00833.jpg',
 '00834.jpg',
 '00835.jpg',
 '00836.jpg',
 '00837.jpg',
 '00838.jpg',
 '00839.jpg',
 '00840.jpg',
 '00841.jpg',
 '00842.jpg',
 '00843.jpg',
 '00844.jpg',
 '00845.jpg',
 '00846.jpg',
 '00847.jpg',
 '00848.jpg',
 '00849.jpg',
 '00850.jpg',
 '00851.jpg',
 '00852.jpg',
 '00853.jpg',
 '00854.jpg',
 '00855.jpg',
 '00856.jpg',
 '00857.jpg',
 '00858.jpg',
 '00859.jpg',
 '00860.jpg',
 '00861.jpg',
 '00862.jpg',
 '00863.jpg',
 '00864.jpg',
 '00865.jpg',
 '00866.jpg',
 '00867.jpg',
 '00868.jpg',
 '00869.jpg',
 '00870.jpg',
 '00871.jpg',
 '00872.jpg',
 '00873.jpg',
 '00874.jpg',
 '00875.jpg',
 '00876.jpg',
 '00877.jpg',
 '00878.jpg',
 '00879.jpg',
 '00880.jpg',
 '00881.jpg',
 '00882.jpg',
 '00883.jpg',
 '00884.jpg',
 '00885.jpg',
 '00886.jpg',
 '00887.jpg',
 '00888.jpg',
 '00889.jpg',
 '00890.jpg',
 '00891.jpg',
 '00892.jpg',
 '00893.jpg',
 '00894.jpg',
 '00895.jpg',
 '00896.jpg',
 '00897.jpg',
 '00898.jpg',
 '00899.jpg',
 '00900.jpg',
 '00901.jpg',
 '00902.jpg',
 '00903.jpg',
 '00904.jpg',
 '00905.jpg',
 '00906.jpg',
 '00907.jpg',
 '00908.jpg',
 '00909.jpg',
 '00910.jpg',
 '00911.jpg',
 '00912.jpg',
 '00913.jpg',
 '00914.jpg',
 '00915.jpg',
 '00916.jpg',
 '00917.jpg',
 '00918.jpg',
 '00919.jpg',
 '00920.jpg',
 '00921.jpg',
 '00922.jpg',
 '00923.jpg',
 '00924.jpg',
 '00925.jpg',
 '00926.jpg',
 '00927.jpg',
 '00928.jpg',
 '00929.jpg',
 '00930.jpg',
 '00931.jpg',
 '00932.jpg',
 '00933.jpg',
 '00934.jpg',
 '00935.jpg',
 '00936.jpg',
 '00937.jpg',
 '00938.jpg',
 '00939.jpg',
 '00940.jpg',
 '00941.jpg',
 '00942.jpg',
 '00943.jpg',
 '00944.jpg',
 '00945.jpg',
 '00946.jpg',
 '00947.jpg',
 '00948.jpg',
 '00949.jpg',
 '00950.jpg',
 '00951.jpg',
 '00952.jpg',
 '00953.jpg',
 '00954.jpg',
 '00955.jpg',
 '00956.jpg',
 '00957.jpg',
 '00958.jpg',
 '00959.jpg',
 '00960.jpg',
 '00961.jpg',
 '00962.jpg',
 '00963.jpg',
 '00964.jpg',
 '00965.jpg',
 '00966.jpg',
 '00967.jpg',
 '00968.jpg',
 '00969.jpg',
 '00970.jpg',
 '00971.jpg',
 '00972.jpg',
 '00973.jpg',
 '00974.jpg',
 '00975.jpg',
 '00976.jpg',
 '00977.jpg',
 '00978.jpg',
 '00979.jpg',
 '00980.jpg',
 '00981.jpg',
 '00982.jpg',
 '00983.jpg',
 '00984.jpg',
 '00985.jpg',
 '00986.jpg',
 '00987.jpg',
 '00988.jpg',
 '00989.jpg',
 '00990.jpg',
 '00991.jpg',
 '00992.jpg',
 '00993.jpg',
 '00994.jpg',
 '00995.jpg',
 '00996.jpg',
 '00997.jpg',
 '00998.jpg',
 '00999.jpg',
 '01000.jpg',
 ...]

In [5]:
# for the int values one more dimension of slicing (see data structure)
bbox_x1 = [i[0][0][0] for i in annotations[0]]
bbox_x1

[39,
 36,
 85,
 621,
 14,
 259,
 88,
 73,
 20,
 21,
 51,
 6,
 30,
 31,
 32,
 27,
 39,
 3,
 247,
 17,
 17,
 212,
 11,
 53,
 34,
 30,
 80,
 45,
 28,
 82,
 55,
 12,
 34,
 37,
 223,
 138,
 31,
 16,
 53,
 214,
 61,
 28,
 22,
 220,
 12,
 28,
 84,
 142,
 166,
 20,
 41,
 39,
 161,
 58,
 80,
 32,
 260,
 11,
 68,
 129,
 11,
 19,
 175,
 97,
 63,
 30,
 129,
 32,
 142,
 220,
 8,
 92,
 15,
 14,
 45,
 12,
 25,
 36,
 165,
 20,
 10,
 63,
 55,
 27,
 15,
 119,
 17,
 171,
 49,
 5,
 49,
 101,
 23,
 19,
 110,
 39,
 3,
 65,
 27,
 22,
 70,
 99,
 85,
 1,
 57,
 69,
 24,
 7,
 18,
 19,
 52,
 231,
 91,
 19,
 26,
 132,
 84,
 87,
 173,
 3,
 49,
 72,
 151,
 14,
 135,
 44,
 69,
 86,
 50,
 95,
 275,
 99,
 11,
 1,
 19,
 21,
 45,
 130,
 72,
 62,
 13,
 78,
 72,
 66,
 135,
 2,
 8,
 24,
 34,
 11,
 8,
 23,
 6,
 17,
 76,
 22,
 32,
 75,
 37,
 114,
 12,
 38,
 46,
 13,
 27,
 4,
 19,
 110,
 2,
 48,
 41,
 6,
 26,
 13,
 69,
 45,
 98,
 5,
 42,
 3,
 84,
 43,
 2,
 34,
 24,
 6,
 4,
 25,
 18,
 198,
 129,
 37,
 82,
 187,
 150,
 26,
 47,
 91,
 151,
 30,
 21,
 233,
 30,
 11,
 29,
 117,
 31,
 26,
 58,
 8,
 11,
 8,
 37,
 70,
 38,
 21,
 45,
 39,
 89,
 16,
 29,
 89,
 42,
 19,
 20,
 46,
 36,
 237,
 5,
 223,
 73,
 15,
 276,
 99,
 59,
 19,
 11,
 163,
 4,
 45,
 32,
 10,
 270,
 21,
 22,
 1,
 47,
 52,
 6,
 11,
 576,
 37,
 51,
 21,
 29,
 85,
 23,
 34,
 75,
 28,
 32,
 158,
 177,
 42,
 15,
 22,
 25,
 49,
 29,
 15,
 11,
 8,
 37,
 31,
 165,
 75,
 72,
 1,
 16,
 3,
 214,
 20,
 112,
 49,
 7,
 116,
 56,
 60,
 205,
 68,
 27,
 133,
 24,
 11,
 150,
 18,
 56,
 49,
 24,
 41,
 52,
 1,
 6,
 14,
 37,
 37,
 171,
 16,
 50,
 36,
 1,
 53,
 13,
 33,
 555,
 10,
 2,
 73,
 38,
 42,
 42,
 9,
 161,
 15,
 12,
 29,
 2,
 41,
 10,
 168,
 26,
 76,
 30,
 179,
 23,
 309,
 45,
 14,
 39,
 139,
 62,
 152,
 63,
 36,
 26,
 112,
 100,
 14,
 42,
 17,
 13,
 107,
 3,
 44,
 28,
 187,
 31,
 53,
 27,
 12,
 17,
 108,
 14,
 15,
 17,
 67,
 30,
 14,
 40,
 57,
 5,
 2,
 243,
 9,
 122,
 74,
 20,
 16,
 119,
 137,
 66,
 4,
 80,
 51,
 217,
 65,
 47,
 18,
 5,
 14,
 433,
 62,
 110,
 229,
 58,
 21,
 30,
 29,
 121,
 32,
 24,
 1,
 299,
 30,
 42,
 1,
 19,
 49,
 21,
 31,
 52,
 195,
 33,
 316,
 81,
 122,
 63,
 12,
 50,
 71,
 71,
 32,
 69,
 22,
 48,
 85,
 33,
 33,
 83,
 82,
 47,
 54,
 58,
 18,
 20,
 20,
 19,
 52,
 11,
 12,
 30,
 53,
 37,
 4,
 121,
 17,
 43,
 37,
 66,
 57,
 66,
 59,
 65,
 251,
 434,
 79,
 79,
 16,
 39,
 95,
 111,
 5,
 113,
 72,
 53,
 104,
 47,
 1,
 13,
 4,
 3,
 34,
 18,
 70,
 21,
 95,
 160,
 9,
 133,
 29,
 6,
 80,
 18,
 29,
 70,
 43,
 8,
 28,
 55,
 21,
 37,
 13,
 19,
 39,
 111,
 24,
 6,
 78,
 12,
 11,
 4,
 1,
 11,
 45,
 49,
 26,
 139,
 85,
 64,
 10,
 74,
 27,
 12,
 18,
 17,
 18,
 20,
 34,
 7,
 14,
 122,
 6,
 33,
 38,
 116,
 26,
 56,
 38,
 45,
 25,
 167,
 26,
 40,
 17,
 508,
 29,
 1,
 56,
 30,
 3,
 12,
 25,
 8,
 9,
 5,
 40,
 63,
 11,
 8,
 11,
 227,
 4,
 16,
 41,
 37,
 101,
 117,
 54,
 20,
 7,
 151,
 65,
 9,
 45,
 187,
 520,
 19,
 30,
 25,
 10,
 18,
 78,
 141,
 117,
 13,
 20,
 51,
 177,
 71,
 49,
 310,
 2,
 107,
 133,
 388,
 31,
 23,
 12,
 41,
 9,
 66,
 62,
 13,
 33,
 91,
 9,
 62,
 25,
 33,
 47,
 28,
 29,
 4,
 59,
 117,
 99,
 73,
 254,
 19,
 395,
 19,
 33,
 24,
 1,
 76,
 61,
 39,
 42,
 50,
 107,
 10,
 35,
 33,
 52,
 12,
 30,
 143,
 16,
 3,
 133,
 11,
 59,
 84,
 15,
 60,
 37,
 69,
 3,
 44,
 33,
 14,
 37,
 35,
 55,
 20,
 8,
 169,
 14,
 64,
 64,
 8,
 6,
 15,
 55,
 82,
 43,
 6,
 192,
 136,
 173,
 8,
 47,
 49,
 31,
 12,
 127,
 21,
 14,
 12,
 97,
 24,
 50,
 25,
 5,
 103,
 35,
 11,
 105,
 190,
 59,
 5,
 11,
 108,
 68,
 260,
 30,
 167,
 75,
 59,
 111,
 84,
 48,
 64,
 14,
 87,
 2,
 16,
 29,
 37,
 93,
 22,
 567,
 21,
 11,
 17,
 13,
 26,
 102,
 129,
 13,
 29,
 457,
 58,
 75,
 47,
 8,
 21,
 296,
 118,
 10,
 74,
 62,
 25,
 100,
 206,
 7,
 1,
 38,
 64,
 30,
 30,
 40,
 289,
 16,
 10,
 18,
 39,
 42,
 29,
 37,
 41,
 5,
 45,
 51,
 32,
 10,
 213,
 54,
 15,
 17,
 66,
 305,
 68,
 60,
 30,
 21,
 85,
 30,
 25,
 100,
 57,
 6,
 66,
 8,
 6,
 18,
 106,
 9,
 61,
 21,
 22,
 30,
 33,
 45,
 82,
 15,
 18,
 60,
 17,
 36,
 38,
 68,
 156,
 42,
 19,
 13,
 114,
 30,
 23,
 124,
 9,
 155,
 7,
 23,
 9,
 38,
 135,
 10,
 11,
 3,
 57,
 45,
 36,
 78,
 15,
 79,
 13,
 9,
 58,
 66,
 49,
 1,
 32,
 17,
 34,
 12,
 28,
 57,
 8,
 30,
 37,
 391,
 15,
 174,
 3,
 120,
 165,
 4,
 191,
 159,
 51,
 14,
 102,
 26,
 80,
 27,
 44,
 20,
 35,
 105,
 41,
 42,
 17,
 30,
 52,
 39,
 56,
 21,
 1,
 47,
 9,
 30,
 35,
 45,
 29,
 51,
 57,
 139,
 11,
 273,
 83,
 36,
 26,
 25,
 11,
 11,
 20,
 17,
 35,
 38,
 373,
 69,
 517,
 49,
 34,
 51,
 61,
 101,
 16,
 16,
 18,
 140,
 14,
 14,
 51,
 111,
 6,
 7,
 34,
 26,
 93,
 32,
 28,
 11,
 24,
 61,
 30,
 89,
 60,
 64,
 160,
 6,
 316,
 15,
 26,
 68,
 21,
 18,
 50,
 33,
 20,
 82,
 9,
 40,
 206,
 15,
 11,
 37,
 127,
 56,
 88,
 10,
 13,
 14,
 3,
 8,
 25,
 75,
 22,
 31,
 86,
 37,
 48,
 90,
 3,
 8,
 18,
 69,
 11,
 109,
 57,
 226,
 249,
 248,
 31,
 48,
 12,
 7,
 48,
 193,
 115,
 10,
 151,
 22,
 37,
 8,
 116,
 143,
 125,
 3,
 1,
 189,
 46,
 32,
 1,
 18,
 57,
 8,
 367,
 23,
 32,
 187,
 41,
 26,
 44,
 25,
 127,
 83,
 37,
 133,
 28,
 16,
 78,
 128,
 79,
 30,
 10,
 394,
 9,
 5,
 108,
 59,
 20,
 55,
 75,
 3,
 11,
 96,
 79,
 214,
 ...]

In [6]:
# same way for the other int values 
bbox_y1 = [i[1][0][0] for i in annotations[0]]
bbox_x2 = [i[2][0][0] for i in annotations[0]]
bbox_y2 = [i[3][0][0] for i in annotations[0]]
class_ids = [i[4][0][0] for i in annotations[0]]

# bbox_y1
# bbox_x2
# bbox_y2
# class_ids

## Package the extracted data into pandas dataframe

In [7]:
df_struct = {"img_name": image_names,
             "x1": bbox_x1, 
             "x2": bbox_x2,
             "y1": bbox_y1, 
             "y2": bbox_y2, 
             "class": class_ids}

df = pd.DataFrame(df_struct)
df

       img_name   x1    x2   y1    y2  class
0     00001.jpg   39   569  116   375     14
1     00002.jpg   36   868  116   587      3
2     00003.jpg   85   601  109   381     91
3     00004.jpg  621  1484  393  1096    134
4     00005.jpg   14   133   36    99    106
...         ...  ...   ...  ...   ...    ...
8139  08140.jpg    3   423   44   336     78
8140  08141.jpg  138   706  150   523    196
8141  08142.jpg   26   660  246   449    163
8142  08143.jpg   78  1489  526   908    112
8143  08144.jpg   20   862  240   677     17

[8144 rows x 6 columns]

## Import meta data (classes) and getting overview

In [8]:
meta_data_path = "./cars_meta.mat"
meta_data = loadmat(meta_data_path)
meta_data

{'__header__': b'MATLAB 5.0 MAT-file, Platform: GLNXA64, Created on: Sat Dec 14 14:13:07 2013',
 '__version__': '1.0',
 '__globals__': [],
 'class_names': array([[array(['AM General Hummer SUV 2000'], dtype='<U26'),
         array(['Acura RL Sedan 2012'], dtype='<U19'),
         array(['Acura TL Sedan 2012'], dtype='<U19'),
         array(['Acura TL Type-S 2008'], dtype='<U20'),
         array(['Acura TSX Sedan 2012'], dtype='<U20'),
         array(['Acura Integra Type R 2001'], dtype='<U25'),
         array(['Acura ZDX Hatchback 2012'], dtype='<U24'),
         array(['Aston Martin V8 Vantage Convertible 2012'], dtype='<U40'),
         array(['Aston Martin V8 Vantage Coupe 2012'], dtype='<U34'),
         array(['Aston Martin Virage Convertible 2012'], dtype='<U36'),
         array(['Aston Martin Virage Coupe 2012'], dtype='<U30'),
         array(['Audi RS 4 Convertible 2008'], dtype='<U26'),
         array(['Audi A5 Coupe 2012'], dtype='<U18'),
         array(['Audi TTS Coupe 2012'], dtype='<U19'),
         array(['Audi R8 Coupe 2012'], dtype='<U18'),
         array(['Audi V8 Sedan 1994'], dtype='<U18'),
         array(['Audi 100 Sedan 1994'], dtype='<U19'),
         array(['Audi 100 Wagon 1994'], dtype='<U19'),
         array(['Audi TT Hatchback 2011'], dtype='<U22'),
         array(['Audi S6 Sedan 2011'], dtype='<U18'),
         array(['Audi S5 Convertible 2012'], dtype='<U24'),
         array(['Audi S5 Coupe 2012'], dtype='<U18'),
         array(['Audi S4 Sedan 2012'], dtype='<U18'),
         array(['Audi S4 Sedan 2007'], dtype='<U18'),
         array(['Audi TT RS Coupe 2012'], dtype='<U21'),
         array(['BMW ActiveHybrid 5 Sedan 2012'], dtype='<U29'),
         array(['BMW 1 Series Convertible 2012'], dtype='<U29'),
         array(['BMW 1 Series Coupe 2012'], dtype='<U23'),
         array(['BMW 3 Series Sedan 2012'], dtype='<U23'),
         array(['BMW 3 Series Wagon 2012'], dtype='<U23'),
         array(['BMW 6 Series Convertible 2007'], dtype='<U29'),
         array(['BMW X5 SUV 2007'], dtype='<U15'),
         array(['BMW X6 SUV 2012'], dtype='<U15'),
         array(['BMW M3 Coupe 2012'], dtype='<U17'),
         array(['BMW M5 Sedan 2010'], dtype='<U17'),
         array(['BMW M6 Convertible 2010'], dtype='<U23'),
         array(['BMW X3 SUV 2012'], dtype='<U15'),
         array(['BMW Z4 Convertible 2012'], dtype='<U23'),
         array(['Bentley Continental Supersports Conv. Convertible 2012'],
               dtype='<U54')                                              ,
         array(['Bentley Arnage Sedan 2009'], dtype='<U25'),
         array(['Bentley Mulsanne Sedan 2011'], dtype='<U27'),
         array(['Bentley Continental GT Coupe 2012'], dtype='<U33'),
         array(['Bentley Continental GT Coupe 2007'], dtype='<U33'),
         array(['Bentley Continental Flying Spur Sedan 2007'], dtype='<U42'),
         array(['Bugatti Veyron 16.4 Convertible 2009'], dtype='<U36'),
         array(['Bugatti Veyron 16.4 Coupe 2009'], dtype='<U30'),
         array(['Buick Regal GS 2012'], dtype='<U19'),
         array(['Buick Rainier SUV 2007'], dtype='<U22'),
         array(['Buick Verano Sedan 2012'], dtype='<U23'),
         array(['Buick Enclave SUV 2012'], dtype='<U22'),
         array(['Cadillac CTS-V Sedan 2012'], dtype='<U25'),
         array(['Cadillac SRX SUV 2012'], dtype='<U21'),
         array(['Cadillac Escalade EXT Crew Cab 2007'], dtype='<U35'),
         array(['Chevrolet Silverado 1500 Hybrid Crew Cab 2012'], dtype='<U45'),
         array(['Chevrolet Corvette Convertible 2012'], dtype='<U35'),
         array(['Chevrolet Corvette ZR1 2012'], dtype='<U27'),
         array(['Chevrolet Corvette Ron Fellows Edition Z06 2007'], dtype='<U47'),
         array(['Chevrolet Traverse SUV 2012'], dtype='<U27'),
         array(['Chevrolet Camaro Convertible 2012'], dtype='<U33'),
         array(['Chevrolet HHR SS 2010'], dtype='<U21'),
         array(['Chevrolet Impala Sedan 2007'], dtype='<U27'),
         array(['Chevrolet Tahoe Hybrid SUV 2012'], dtype='<U31'),
         array(['Chevrolet Sonic Sedan 2012'], dtype='<U26'),
         array(['Chevrolet Express Cargo Van 2007'], dtype='<U32'),
         array(['Chevrolet Avalanche Crew Cab 2012'], dtype='<U33'),
         array(['Chevrolet Cobalt SS 2010'], dtype='<U24'),
         array(['Chevrolet Malibu Hybrid Sedan 2010'], dtype='<U34'),
         array(['Chevrolet TrailBlazer SS 2009'], dtype='<U29'),
         array(['Chevrolet Silverado 2500HD Regular Cab 2012'], dtype='<U43'),
         array(['Chevrolet Silverado 1500 Classic Extended Cab 2007'], dtype='<U50'),
         array(['Chevrolet Express Van 2007'], dtype='<U26'),
         array(['Chevrolet Monte Carlo Coupe 2007'], dtype='<U32'),
         array(['Chevrolet Malibu Sedan 2007'], dtype='<U27'),
         array(['Chevrolet Silverado 1500 Extended Cab 2012'], dtype='<U42'),
         array(['Chevrolet Silverado 1500 Regular Cab 2012'], dtype='<U41'),
         array(['Chrysler Aspen SUV 2009'], dtype='<U23'),
         array(['Chrysler Sebring Convertible 2010'], dtype='<U33'),
         array(['Chrysler Town and Country Minivan 2012'], dtype='<U38'),
         array(['Chrysler 300 SRT-8 2010'], dtype='<U23'),
         array(['Chrysler Crossfire Convertible 2008'], dtype='<U35'),
         array(['Chrysler PT Cruiser Convertible 2008'], dtype='<U36'),
         array(['Daewoo Nubira Wagon 2002'], dtype='<U24'),
         array(['Dodge Caliber Wagon 2012'], dtype='<U24'),
         array(['Dodge Caliber Wagon 2007'], dtype='<U24'),
         array(['Dodge Caravan Minivan 1997'], dtype='<U26'),
         array(['Dodge Ram Pickup 3500 Crew Cab 2010'], dtype='<U35'),
         array(['Dodge Ram Pickup 3500 Quad Cab 2009'], dtype='<U35'),
         array(['Dodge Sprinter Cargo Van 2009'], dtype='<U29'),
         array(['Dodge Journey SUV 2012'], dtype='<U22'),
         array(['Dodge Dakota Crew Cab 2010'], dtype='<U26'),
         array(['Dodge Dakota Club Cab 2007'], dtype='<U26'),
         array(['Dodge Magnum Wagon 2008'], dtype='<U23'),
         array(['Dodge Challenger SRT8 2011'], dtype='<U26'),
         array(['Dodge Durango SUV 2012'], dtype='<U22'),
         array(['Dodge Durango SUV 2007'], dtype='<U22'),
         array(['Dodge Charger Sedan 2012'], dtype='<U24'),
         array(['Dodge Charger SRT-8 2009'], dtype='<U24'),
         array(['Eagle Talon Hatchback 1998'], dtype='<U26'),
         array(['FIAT 500 Abarth 2012'], dtype='<U20'),
         array(['FIAT 500 Convertible 2012'], dtype='<U25'),
         array(['Ferrari FF Coupe 2012'], dtype='<U21'),
         array(['Ferrari California Convertible 2012'], dtype='<U35'),
         array(['Ferrari 458 Italia Convertible 2012'], dtype='<U35'),
         array(['Ferrari 458 Italia Coupe 2012'], dtype='<U29'),
         array(['Fisker Karma Sedan 2012'], dtype='<U23'),
         array(['Ford F-450 Super Duty Crew Cab 2012'], dtype='<U35'),
         array(['Ford Mustang Convertible 2007'], dtype='<U29'),
         array(['Ford Freestar Minivan 2007'], dtype='<U26'),
         array(['Ford Expedition EL SUV 2009'], dtype='<U27'),
         array(['Ford Edge SUV 2012'], dtype='<U18'),
         array(['Ford Ranger SuperCab 2011'], dtype='<U25'),
         array(['Ford GT Coupe 2006'], dtype='<U18'),
         array(['Ford F-150 Regular Cab 2012'], dtype='<U27'),
         array(['Ford F-150 Regular Cab 2007'], dtype='<U27'),
         array(['Ford Focus Sedan 2007'], dtype='<U21'),
         array(['Ford E-Series Wagon Van 2012'], dtype='<U28'),
         array(['Ford Fiesta Sedan 2012'], dtype='<U22'),
         array(['GMC Terrain SUV 2012'], dtype='<U20'),
         array(['GMC Savana Van 2012'], dtype='<U19'),
         array(['GMC Yukon Hybrid SUV 2012'], dtype='<U25'),
         array(['GMC Acadia SUV 2012'], dtype='<U19'),
         array(['GMC Canyon Extended Cab 2012'], dtype='<U28'),
         array(['Geo Metro Convertible 1993'], dtype='<U26'),
         array(['HUMMER H3T Crew Cab 2010'], dtype='<U24'),
         array(['HUMMER H2 SUT Crew Cab 2009'], dtype='<U27'),
         array(['Honda Odyssey Minivan 2012'], dtype='<U26'),
         array(['Honda Odyssey Minivan 2007'], dtype='<U26'),
         array(['Honda Accord Coupe 2012'], dtype='<U23'),
         array(['Honda Accord Sedan 2012'], dtype='<U23'),
         array(['Hyundai Veloster Hatchback 2012'], dtype='<U31'),
         array(['Hyundai Santa Fe SUV 2012'], dtype='<U25'),
         array(['Hyundai Tucson SUV 2012'], dtype='<U23'),
         array(['Hyundai Veracruz SUV 2012'], dtype='<U25'),
         array(['Hyundai Sonata Hybrid Sedan 2012'], dtype='<U32'),
         array(['Hyundai Elantra Sedan 2007'], dtype='<U26'),
         array(['Hyundai Accent Sedan 2012'], dtype='<U25'),
         array(['Hyundai Genesis Sedan 2012'], dtype='<U26'),
         array(['Hyundai Sonata Sedan 2012'], dtype='<U25'),
         array(['Hyundai Elantra Touring Hatchback 2012'], dtype='<U38'),
         array(['Hyundai Azera Sedan 2012'], dtype='<U24'),
         array(['Infiniti G Coupe IPL 2012'], dtype='<U25'),
         array(['Infiniti QX56 SUV 2011'], dtype='<U22'),
         array(['Isuzu Ascender SUV 2008'], dtype='<U23'),
         array(['Jaguar XK XKR 2012'], dtype='<U18'),
         array(['Jeep Patriot SUV 2012'], dtype='<U21'),
         array(['Jeep Wrangler SUV 2012'], dtype='<U22'),
         array(['Jeep Liberty SUV 2012'], dtype='<U21'),
         array(['Jeep Grand Cherokee SUV 2012'], dtype='<U28'),
         array(['Jeep Compass SUV 2012'], dtype='<U21'),
         array(['Lamborghini Reventon Coupe 2008'], dtype='<U31'),
         array(['Lamborghini Aventador Coupe 2012'], dtype='<U32'),
         array(['Lamborghini Gallardo LP 570-4 Superleggera 2012'], dtype='<U47'),
         array(['Lamborghini Diablo Coupe 2001'], dtype='<U29'),
         array(['Land Rover Range Rover SUV 2012'], dtype='<U31'),
         array(['Land Rover LR2 SUV 2012'], dtype='<U23'),
         array(['Lincoln Town Car Sedan 2011'], dtype='<U27'),
         array(['MINI Cooper Roadster Convertible 2012'], dtype='<U37'),
         array(['Maybach Landaulet Convertible 2012'], dtype='<U34'),
         array(['Mazda Tribute SUV 2011'], dtype='<U22'),
         array(['McLaren MP4-12C Coupe 2012'], dtype='<U26'),
         array(['Mercedes-Benz 300-Class Convertible 1993'], dtype='<U40'),
         array(['Mercedes-Benz C-Class Sedan 2012'], dtype='<U32'),
         array(['Mercedes-Benz SL-Class Coupe 2009'], dtype='<U33'),
         array(['Mercedes-Benz E-Class Sedan 2012'], dtype='<U32'),
         array(['Mercedes-Benz S-Class Sedan 2012'], dtype='<U32'),
         array(['Mercedes-Benz Sprinter Van 2012'], dtype='<U31'),
         array(['Mitsubishi Lancer Sedan 2012'], dtype='<U28'),
         array(['Nissan Leaf Hatchback 2012'], dtype='<U26'),
         array(['Nissan NV Passenger Van 2012'], dtype='<U28'),
         array(['Nissan Juke Hatchback 2012'], dtype='<U26'),
         array(['Nissan 240SX Coupe 1998'], dtype='<U23'),
         array(['Plymouth Neon Coupe 1999'], dtype='<U24'),
         array(['Porsche Panamera Sedan 2012'], dtype='<U27'),
         array(['Ram C/V Cargo Van Minivan 2012'], dtype='<U30'),
         array(['Rolls-Royce Phantom Drophead Coupe Convertible 2012'],
               dtype='<U51')                                           ,
         array(['Rolls-Royce Ghost Sedan 2012'], dtype='<U28'),
         array(['Rolls-Royce Phantom Sedan 2012'], dtype='<U30'),
         array(['Scion xD Hatchback 2012'], dtype='<U23'),
         array(['Spyker C8 Convertible 2009'], dtype='<U26'),
         array(['Spyker C8 Coupe 2009'], dtype='<U20'),
         array(['Suzuki Aerio Sedan 2007'], dtype='<U23'),
         array(['Suzuki Kizashi Sedan 2012'], dtype='<U25'),
         array(['Suzuki SX4 Hatchback 2012'], dtype='<U25'),
         array(['Suzuki SX4 Sedan 2012'], dtype='<U21'),
         array(['Tesla Model S Sedan 2012'], dtype='<U24'),
         array(['Toyota Sequoia SUV 2012'], dtype='<U23'),
         array(['Toyota Camry Sedan 2012'], dtype='<U23'),
         array(['Toyota Corolla Sedan 2012'], dtype='<U25'),
         array(['Toyota 4Runner SUV 2012'], dtype='<U23'),
         array(['Volkswagen Golf Hatchback 2012'], dtype='<U30'),
         array(['Volkswagen Golf Hatchback 1991'], dtype='<U30'),
         array(['Volkswagen Beetle Hatchback 2012'], dtype='<U32'),
         array(['Volvo C30 Hatchback 2012'], dtype='<U24'),
         array(['Volvo 240 Sedan 1993'], dtype='<U20'),
         array(['Volvo XC90 SUV 2007'], dtype='<U19'),
         array(['smart fortwo Convertible 2012'], dtype='<U29')]],
       dtype=object)}

In [14]:
classes = meta_data["class_names"]
class_names = [i[0] for i in classes[0]]
class_names

['AM General Hummer SUV 2000',
 'Acura RL Sedan 2012',
 'Acura TL Sedan 2012',
 'Acura TL Type-S 2008',
 'Acura TSX Sedan 2012',
 'Acura Integra Type R 2001',
 'Acura ZDX Hatchback 2012',
 'Aston Martin V8 Vantage Convertible 2012',
 'Aston Martin V8 Vantage Coupe 2012',
 'Aston Martin Virage Convertible 2012',
 'Aston Martin Virage Coupe 2012',
 'Audi RS 4 Convertible 2008',
 'Audi A5 Coupe 2012',
 'Audi TTS Coupe 2012',
 'Audi R8 Coupe 2012',
 'Audi V8 Sedan 1994',
 'Audi 100 Sedan 1994',
 'Audi 100 Wagon 1994',
 'Audi TT Hatchback 2011',
 'Audi S6 Sedan 2011',
 'Audi S5 Convertible 2012',
 'Audi S5 Coupe 2012',
 'Audi S4 Sedan 2012',
 'Audi S4 Sedan 2007',
 'Audi TT RS Coupe 2012',
 'BMW ActiveHybrid 5 Sedan 2012',
 'BMW 1 Series Convertible 2012',
 'BMW 1 Series Coupe 2012',
 'BMW 3 Series Sedan 2012',
 'BMW 3 Series Wagon 2012',
 'BMW 6 Series Convertible 2007',
 'BMW X5 SUV 2007',
 'BMW X6 SUV 2012',
 'BMW M3 Coupe 2012',
 'BMW M5 Sedan 2010',
 'BMW M6 Convertible 2010',
 'BMW X3 SUV 2012',
 'BMW Z4 Convertible 2012',
 'Bentley Continental Supersports Conv. Convertible 2012',
 'Bentley Arnage Sedan 2009',
 'Bentley Mulsanne Sedan 2011',
 'Bentley Continental GT Coupe 2012',
 'Bentley Continental GT Coupe 2007',
 'Bentley Continental Flying Spur Sedan 2007',
 'Bugatti Veyron 16.4 Convertible 2009',
 'Bugatti Veyron 16.4 Coupe 2009',
 'Buick Regal GS 2012',
 'Buick Rainier SUV 2007',
 'Buick Verano Sedan 2012',
 'Buick Enclave SUV 2012',
 'Cadillac CTS-V Sedan 2012',
 'Cadillac SRX SUV 2012',
 'Cadillac Escalade EXT Crew Cab 2007',
 'Chevrolet Silverado 1500 Hybrid Crew Cab 2012',
 'Chevrolet Corvette Convertible 2012',
 'Chevrolet Corvette ZR1 2012',
 'Chevrolet Corvette Ron Fellows Edition Z06 2007',
 'Chevrolet Traverse SUV 2012',
 'Chevrolet Camaro Convertible 2012',
 'Chevrolet HHR SS 2010',
 'Chevrolet Impala Sedan 2007',
 'Chevrolet Tahoe Hybrid SUV 2012',
 'Chevrolet Sonic Sedan 2012',
 'Chevrolet Express Cargo Van 2007',
 'Chevrolet Avalanche Crew Cab 2012',
 'Chevrolet Cobalt SS 2010',
 'Chevrolet Malibu Hybrid Sedan 2010',
 'Chevrolet TrailBlazer SS 2009',
 'Chevrolet Silverado 2500HD Regular Cab 2012',
 'Chevrolet Silverado 1500 Classic Extended Cab 2007',
 'Chevrolet Express Van 2007',
 'Chevrolet Monte Carlo Coupe 2007',
 'Chevrolet Malibu Sedan 2007',
 'Chevrolet Silverado 1500 Extended Cab 2012',
 'Chevrolet Silverado 1500 Regular Cab 2012',
 'Chrysler Aspen SUV 2009',
 'Chrysler Sebring Convertible 2010',
 'Chrysler Town and Country Minivan 2012',
 'Chrysler 300 SRT-8 2010',
 'Chrysler Crossfire Convertible 2008',
 'Chrysler PT Cruiser Convertible 2008',
 'Daewoo Nubira Wagon 2002',
 'Dodge Caliber Wagon 2012',
 'Dodge Caliber Wagon 2007',
 'Dodge Caravan Minivan 1997',
 'Dodge Ram Pickup 3500 Crew Cab 2010',
 'Dodge Ram Pickup 3500 Quad Cab 2009',
 'Dodge Sprinter Cargo Van 2009',
 'Dodge Journey SUV 2012',
 'Dodge Dakota Crew Cab 2010',
 'Dodge Dakota Club Cab 2007',
 'Dodge Magnum Wagon 2008',
 'Dodge Challenger SRT8 2011',
 'Dodge Durango SUV 2012',
 'Dodge Durango SUV 2007',
 'Dodge Charger Sedan 2012',
 'Dodge Charger SRT-8 2009',
 'Eagle Talon Hatchback 1998',
 'FIAT 500 Abarth 2012',
 'FIAT 500 Convertible 2012',
 'Ferrari FF Coupe 2012',
 'Ferrari California Convertible 2012',
 'Ferrari 458 Italia Convertible 2012',
 'Ferrari 458 Italia Coupe 2012',
 'Fisker Karma Sedan 2012',
 'Ford F-450 Super Duty Crew Cab 2012',
 'Ford Mustang Convertible 2007',
 'Ford Freestar Minivan 2007',
 'Ford Expedition EL SUV 2009',
 'Ford Edge SUV 2012',
 'Ford Ranger SuperCab 2011',
 'Ford GT Coupe 2006',
 'Ford F-150 Regular Cab 2012',
 'Ford F-150 Regular Cab 2007',
 'Ford Focus Sedan 2007',
 'Ford E-Series Wagon Van 2012',
 'Ford Fiesta Sedan 2012',
 'GMC Terrain SUV 2012',
 'GMC Savana Van 2012',
 'GMC Yukon Hybrid SUV 2012',
 'GMC Acadia SUV 2012',
 'GMC Canyon Extended Cab 2012',
 'Geo Metro Convertible 1993',
 'HUMMER H3T Crew Cab 2010',
 'HUMMER H2 SUT Crew Cab 2009',
 'Honda Odyssey Minivan 2012',
 'Honda Odyssey Minivan 2007',
 'Honda Accord Coupe 2012',
 'Honda Accord Sedan 2012',
 'Hyundai Veloster Hatchback 2012',
 'Hyundai Santa Fe SUV 2012',
 'Hyundai Tucson SUV 2012',
 'Hyundai Veracruz SUV 2012',
 'Hyundai Sonata Hybrid Sedan 2012',
 'Hyundai Elantra Sedan 2007',
 'Hyundai Accent Sedan 2012',
 'Hyundai Genesis Sedan 2012',
 'Hyundai Sonata Sedan 2012',
 'Hyundai Elantra Touring Hatchback 2012',
 'Hyundai Azera Sedan 2012',
 'Infiniti G Coupe IPL 2012',
 'Infiniti QX56 SUV 2011',
 'Isuzu Ascender SUV 2008',
 'Jaguar XK XKR 2012',
 'Jeep Patriot SUV 2012',
 'Jeep Wrangler SUV 2012',
 'Jeep Liberty SUV 2012',
 'Jeep Grand Cherokee SUV 2012',
 'Jeep Compass SUV 2012',
 'Lamborghini Reventon Coupe 2008',
 'Lamborghini Aventador Coupe 2012',
 'Lamborghini Gallardo LP 570-4 Superleggera 2012',
 'Lamborghini Diablo Coupe 2001',
 'Land Rover Range Rover SUV 2012',
 'Land Rover LR2 SUV 2012',
 'Lincoln Town Car Sedan 2011',
 'MINI Cooper Roadster Convertible 2012',
 'Maybach Landaulet Convertible 2012',
 'Mazda Tribute SUV 2011',
 'McLaren MP4-12C Coupe 2012',
 'Mercedes-Benz 300-Class Convertible 1993',
 'Mercedes-Benz C-Class Sedan 2012',
 'Mercedes-Benz SL-Class Coupe 2009',
 'Mercedes-Benz E-Class Sedan 2012',
 'Mercedes-Benz S-Class Sedan 2012',
 'Mercedes-Benz Sprinter Van 2012',
 'Mitsubishi Lancer Sedan 2012',
 'Nissan Leaf Hatchback 2012',
 'Nissan NV Passenger Van 2012',
 'Nissan Juke Hatchback 2012',
 'Nissan 240SX Coupe 1998',
 'Plymouth Neon Coupe 1999',
 'Porsche Panamera Sedan 2012',
 'Ram C/V Cargo Van Minivan 2012',
 'Rolls-Royce Phantom Drophead Coupe Convertible 2012',
 'Rolls-Royce Ghost Sedan 2012',
 'Rolls-Royce Phantom Sedan 2012',
 'Scion xD Hatchback 2012',
 'Spyker C8 Convertible 2009',
 'Spyker C8 Coupe 2009',
 'Suzuki Aerio Sedan 2007',
 'Suzuki Kizashi Sedan 2012',
 'Suzuki SX4 Hatchback 2012',
 'Suzuki SX4 Sedan 2012',
 'Tesla Model S Sedan 2012',
 'Toyota Sequoia SUV 2012',
 'Toyota Camry Sedan 2012',
 'Toyota Corolla Sedan 2012',
 'Toyota 4Runner SUV 2012',
 'Volkswagen Golf Hatchback 2012',
 'Volkswagen Golf Hatchback 1991',
 'Volkswagen Beetle Hatchback 2012',
 'Volvo C30 Hatchback 2012',
 'Volvo 240 Sedan 1993',
 'Volvo XC90 SUV 2007',
 'smart fortwo Convertible 2012']

## package class name into a pandas dataframe

In [38]:
classes_df = pd.DataFrame({"class": class_names})
classes_df.head(200)

                                class
0          AM General Hummer SUV 2000
1                 Acura RL Sedan 2012
2                 Acura TL Sedan 2012
3                Acura TL Type-S 2008
4                Acura TSX Sedan 2012
..                                ...
191  Volkswagen Beetle Hatchback 2012
192          Volvo C30 Hatchback 2012
193              Volvo 240 Sedan 1993
194               Volvo XC90 SUV 2007
195     smart fortwo Convertible 2012

[196 rows x 1 columns]

## Generate the final Dataframe and export to csv

In [56]:

df['class-name'] = df['class'].map(classes_df['class'])

# there are somehow class ids which are not available (ID 196)
# it's not because indexing, id=1 correct name, id=4 coorect name and so on 
# just 40 records with 196. They will drop 
df

df.isna().sum() # 40 in class-name
df[df["class-name"].isna()] # every record has class 196

       img_name   x1    x2   y1    y2  class class-name
221   00222.jpg   89   545   58   338    196        NaN
1080  01081.jpg   22   278   47   213    196        NaN
1251  01252.jpg   19   386   25   242    196        NaN
2053  02054.jpg  183  1186    4   780    196        NaN
2102  02103.jpg   34   766  262   650    196        NaN
2391  02392.jpg   17   197   13   115    196        NaN
2406  02407.jpg   49   200   42   167    196        NaN
2736  02737.jpg   50   558   72   419    196        NaN
2843  02844.jpg   40   438   45   338    196        NaN
2865  02866.jpg   18   122    5    82    196        NaN
2960  02961.jpg  103   894   99   679    196        NaN
3275  03276.jpg    4   499   14   305    196        NaN
3340  03341.jpg   13   236   38   192    196        NaN
3727  03728.jpg   76   386  131   312    196        NaN
3780  03781.jpg   66   478   43   371    196        NaN
3877  03878.jpg  152   780   97   553    196        NaN
3897  03898.jpg   19   226   23   192    196        NaN
3995  03996.jpg   42   573    9   366    196        NaN
4360  04361.jpg   19   210   40   150    196        NaN
4875  04876.jpg   21   468   30   320    196        NaN
4969  04970.jpg   45   799   88   573    196        NaN
5118  05119.jpg   52   743  118   513    196        NaN
5244  05245.jpg   11   226   27   163    196        NaN
5393  05394.jpg   14   194   45   176    196        NaN
6003  06004.jpg    8   256    7   190    196        NaN
6372  06373.jpg   73   512   38   374    196        NaN
6464  06465.jpg   43   221   43   169    196        NaN
6607  06608.jpg   58  1231   82   789    196        NaN
6758  06759.jpg  176  1175   89   735    196        NaN
6869  06870.jpg  104   416  165   381    196        NaN
7025  07026.jpg  158  1147   67   759    196        NaN
7201  07202.jpg  217  1812  280  1179    196        NaN
7451  07452.jpg   51   419   18   306    196        NaN
7454  07455.jpg  121   465   87   278    196        NaN
7499  07500.jpg   20   613   27   413    196        NaN
7536  07537.jpg   47   249   65   180    196        NaN
7593  07594.jpg   29   381   34   273    196        NaN
7845  07846.jpg   78   669  289   633    196        NaN
7894  07895.jpg   31   494    6   272    196        NaN
8140  08141.jpg  138   706  150   523    196        NaN

In [58]:
# drop
final_df = df.dropna().drop("class", axis=1)
final_df

       img_name   x1    x2   y1    y2                        class-name
0     00001.jpg   39   569  116   375                Audi R8 Coupe 2012
1     00002.jpg   36   868  116   587              Acura TL Type-S 2008
2     00003.jpg   85   601  109   381           Dodge Magnum Wagon 2008
3     00004.jpg  621  1484  393  1096        Hyundai Elantra Sedan 2007
4     00005.jpg   14   133   36    99     Ford Mustang Convertible 2007
...         ...  ...   ...  ...   ...                               ...
8138  08139.jpg  117   583   84   403           Toyota 4Runner SUV 2012
8139  08140.jpg    3   423   44   336           Chrysler 300 SRT-8 2010
8141  08142.jpg   26   660  246   449  Mercedes-Benz E-Class Sedan 2012
8142  08143.jpg   78  1489  526   908       Ford F-150 Regular Cab 2012
8143  08144.jpg   20   862  240   677               Audi 100 Wagon 1994

[8104 rows x 6 columns]

In [61]:
target_path = "./train_data.csv"
final_df.to_csv(target_path, index=False)

In [62]:
pd.read_csv("./train_data.csv")

       img_name   x1    x2   y1    y2                        class-name
0     00001.jpg   39   569  116   375                Audi R8 Coupe 2012
1     00002.jpg   36   868  116   587              Acura TL Type-S 2008
2     00003.jpg   85   601  109   381           Dodge Magnum Wagon 2008
3     00004.jpg  621  1484  393  1096        Hyundai Elantra Sedan 2007
4     00005.jpg   14   133   36    99     Ford Mustang Convertible 2007
...         ...  ...   ...  ...   ...                               ...
8099  08139.jpg  117   583   84   403           Toyota 4Runner SUV 2012
8100  08140.jpg    3   423   44   336           Chrysler 300 SRT-8 2010
8101  08142.jpg   26   660  246   449  Mercedes-Benz E-Class Sedan 2012
8102  08143.jpg   78  1489  526   908       Ford F-150 Regular Cab 2012
8103  08144.jpg   20   862  240   677               Audi 100 Wagon 1994

[8104 rows x 6 columns]